import 'package:json_annotation/json_annotation.dart';
part '{{ split_file_name.lower() }}_model.g.dart';
@JsonSerializable()
class {{ file_name.capitalize() }} {
            {{ file_name.capitalize() }}();
            factory {{ file_name.capitalize() }}.fromJson(Map<String, dynamic> json) => _${{ file_name.capitalize() }}FromJson(json);
            Map<String, dynamic> toJson() => _${{ file_name.capitalize() }}ToJson(this);
        }