import 'package:flutter/cupertino.dart';
import 'package:{{ app_name }}/models/{{ split_file_name.lower() }}_model.dart';
import 'package:{{ app_name }}/services/api/{{ split_file_name.lower() }}_service.dart';
class {{ file_name }}ViewModel extends ChangeNotifier {
        {{ file_name }} {{ file_name.lower() }} = {{ file_name }}();
        {{ file_name }}Service {{ file_name.lower() }}Service = new {{ file_name }}Service();
        //notifyListeners();
    }