import 'package:flutter/cupertino.dart';
import 'package:{{ app_name }}/models/{{ split_file_name.lower() }}_model.dart';
import 'package:{{ app_name }}/services/api/{{ split_file_name.lower() }}_service.dart';
class {{ class_name }}ViewModel extends ChangeNotifier {
        {{ class_name }}Model {{ camel_file_name }}Model = {{ class_name }}Model();
        {{ class_name }}Service {{ camel_file_name }}Service = new {{ class_name }}Service();
        //notifyListeners();
    }