import 'package:flutter/cupertino.dart';
import 'package:{{ app_name }}/models/{{ file_name.lower() }}_model.dart';
import 'package:{{ app_name }}/services/api/{{ split_file_name.lower() }}_service.dart';
class {{ file_name.capitalize() }}ViewModel extends ChangeNotifier {
        {{ file_name.capitalize() }} {{ file_name.lower() }} = {{ file_name.capitalize() }}();
        {{ file_name.capitalize() }}Service {{ file_name.lower() }}Service = new {{ file_name.capitalize() }}Service();
        //notifyListeners();
    }