import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package:provider/provider.dart';
import 'package:{{ app_name }}/view_models/{{ split_file_name.lower() }}_view_model.dart';

class {{ file_name }}Page extends StatefulWidget {
    @override
    _{{ file_name }}PageState createState() => _{{ file_name }}PageState();
    }

    class _{{ file_name }}PageState extends State<{{ file_name }}Page> {
    @override
    void initState()  {
        super.initState();
        final vm = Provider.of<{{ file_name }}ViewModel>(context, listen: false);
        // fetch initialize data
    }

    @override
    void dispose()  {
        super.dispose();
    }

    @override
    Widget build(BuildContext context)  {
        final vm = Provider.of<{{ file_name }}ViewModel>(context);

        return Scaffold(
        appBar: AppBar(
            title: Text('{{ file_name }}'),
        ),
        body: SingleChildScrollView(
            child: Column(
                crossAxisAlignment: CrossAxisAlignment.center,
                mainAxisAlignment: MainAxisAlignment.center,
                children: [
                Column(children: <Widget>[
                    Row(
                    children: <Widget>[],
                    )
                ]),
                ]),
        ),
        );
    }
}