import 'package:json_annotation/json_annotation.dart';
part '{{ split_file_name.lower() }}_model.g.dart';
@JsonSerializable()
class {{ file_name }} {
            {{ file_name }}();
            factory {{ file_name }}.fromJson(Map<String, dynamic> json) => _${{ file_name }}FromJson(json);
            Map<String, dynamic> toJson() => _${{ file_name }}ToJson(this);
        }