import 'package:json_annotation/json_annotation.dart';
part '{{ split_file_name.lower() }}_model.g.dart';
@JsonSerializable()
class {{ file_name }} {
            {{ file_name }}Model();
            factory {{ file_name }}ModelModel.fromJson(Map<String, dynamic> json) => _${{ camel_file_name }}ModelFromJson(json);
            Map<String, dynamic> toJson() => _${{ camel_file_name }}ModelToJson(this);
        }